html(lang='en')
  html
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    link(href='/css/index.css', rel='stylesheet')
    title= 'Home'
  head
  body
    .row 
      .title 
        h1 I'm Ben
      .content  
        p I’m a tinkerer living in New York, San Franicisco, New York, San Francisco. I enjoy getting my hands dirty and working through the details. I currently spend my days crafting Opower’s Design System. Before that I protyotyped products at Smart Design and worked on theme park concepts as a Disney Imagineer. 
    .row 
      .title 
        h1 Else where
      .content  
        p I’m a tinkerer living in New York, San Franicisco, New York, San Francisco. I enjoy getting my hands dirty and working through the details. I currently spend my days crafting Opower’s Design System. Before that I protyotyped products at Smart Design and worked on theme park concepts as a Disney Imagineer. 
