extends ../../layouts/collage.jade

block intro
  :markdown
    #### Smart Fridge

    At one point every major appliance company thought screens on fridges was a ~~good~~ awesome idea. They asked Smart Design to figure out WHY people would ever want that. We designed and prototyped the whole experience.

block collage
  li
    img(src='assets/hardware/fridge-1.jpg')
    p.caption Here’s our fridge, with a screen. It’s showing some reminders and photos from a family album.
  li
    img(src='assets/hardware/fridge-2.jpg')
    p.caption You can add reminders to the fridge.
  li
    img(src='assets/hardware/fridge-3.jpg')
    p.caption Reminders can be moved around, kinda like post-its.
  li
    img(src='assets/hardware/fridge-4.jpg')
    p.caption And of course you can add notes to your fridge from your phone.
  li
    img(src='assets/hardware/fridge-5.jpg')
    p.caption Want to send pictures to the family album? We prototyped that too.

