extends ../../layouts/intro.jade

block content
    :markdown
        # Hardware Prototypes

        Back in the day, I built a lot of hardware prototypes. What I loved about this type of work is I get to work on the details that make or break an experience. A lot of these projected required late nights working on Arduino sketches, soldering wires and connections, and programming Flash animations. Here are some of cooler ones.
