extends ../../layouts/intro.jade

block content
    :markdown
        # Hardware Prototypes

        Back in the day, I built a lot of hardware prototypes. There were many late nights working on Arduino sketches, soldering wires and connections, and programming Flash animations. Here are some of cooler ones.
