extends ../../layouts/pictures.jade

block overview
    :markdown
        #### Gadget Phone

        I grew up watching Inspector Gadget and always wanted a [secret gadget phone](https://www.youtube.com/watch?v=rlb-BKVhS3g&t=3m15s). I ended up making one out of a Bluetooth headset.

block pictures
    ul
        li.block
            img(src='assets/hardware/phone-1.jpg')
            p.caption The brains: a Bluetooth controller, Arduino, some relays, and transistors.
        li.block
            img(src='assets/hardware/phone-2.jpg')
            p.caption Here’s the Bluetooth headset after it was rewired. It connects to a glove that reads my hand gestures.
        li.block
            img(src='assets/hardware/phone-3.jpg')
            p.caption Electronics are fragile! I put everything in this cardboard box so they don't get squashed.
        li.block
            img(src='assets/hardware/phone-4.jpg')
            p.caption Made a little costume for all the electronics.
        li.block
            img(src='assets/hardware/phone-5.jpg')
            p.caption Glove with flexsensors sewn into each finger, letting me pick up a call with a "call me" sign.

