extends ../../layouts/collage.jade

block intro
  :markdown
    #### Smart Washer/Dryer

    Did I mention every appliance company wanted slap screens onto everything they made? We had to design the smart washer and dryer experience as well.

block collage
  li
    img(src='assets/hardware/washer-1.jpg')
    p.caption The screens on the units control cycles settings and eco-delays (to run cycles when it’s energy efficient).
  li
    img(src='assets/hardware/washer-2.jpg')
    p.caption You can change settings from your phone as well. Wouldn't be smart if you can't.
  li
    img(src='assets/hardware/washer-3.jpg')
    p.caption When a wash cycle is done, you can transfer the load info to the dryer with the touch of a button.
  li
    img(src='assets/hardware/washer-4.jpg')
    p.caption Changing dryer settings.
  li
    img(src='assets/hardware/washer-5.jpg')
    p.caption A cycle is running!

