extends ../../layouts/section.jade

block title
    :markdown
        # I'm Ben

block content
    :markdown
        I’m a tinkerer living in ~~New York~~, ~~San Francisco~~, ~~New York~~, San Francisco. I enjoy getting my hands dirty and working through the details. I'm currently crafting Opower’s [Design System](https://ux.opower.com/opattern). Before that, I prototyped products at Smart Design and worked on theme park concepts as a Disney Imagineer.
