extends ../../layouts/section.jade

mixin icon-link(icon, url, description)
  li
    a(href="#{url}")
      span(class="icon #{icon}")
        case icon
          when 'codepen'
            include ../../../assets/icons/codepen.svg
          when 'instagram'
            include ../../../assets/icons/instagram.svg
          when 'tumblr'
            include ../../../assets/icons/tumblr.svg
          when 'linkedin'
            include ../../../assets/icons/linkedin.svg
      = description

block title
  :markdown
    # Else where

block content
  ul.icon-links
    +icon-link('codepen','http://codepen.io/anshing97/','Where I experiment')
    +icon-link('instagram','http://instagram.com/anshing97/','A day in life')
    +icon-link('tumblr','http://www.lintless.com/','Sketches from way past')
    +icon-link('linkedin','https://www.linkedin.com/in/benchao','Obligatory resume')
