extends ../../layouts/section.jade

block title
    :markdown
        # Projects

block content
    div.project-hero
        a(href='hardware.html')
            img(src='assets/heros/hardware.jpg')
            h3.centered Hardware Prototypes
