extends ../../layouts/section.jade

block title
  :markdown
    # Projects

block content
  div.hero-link
    a(href='hardware.html')
      img(src='assets/heros/hardware.jpg')
      h3.hero-link__text Hardware Prototypes
